.btn1{
        height:5%;
        width:10%;
        position:absolute;
        left:5%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }
.btn2{
        height:5%;
        width:10%;
        position:absolute;
        left:15%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }
.btn3{
        height:5%;
        width:10%;
        position:absolute;
        left:25%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }

.btn4{
        height:5%;
        width:10%;
        position:absolute;
        left:35%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }

.btn5{
        height:5%;
        width:10%;
        position:absolute;
        left:45%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }

.btn6{
        height:5%;
        width:10%;
        position:absolute;
        left:55%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }

.btn7{
        height:5%;
        width:10%;
        position:absolute;
        left:65%;
        right:5px;
        top:5%;
        /*bottom:-100%;*/
        font: 14px 微软雅黑;
        text-align:center;
        line-height: 10%;
        color: #ffc0cb;
        cursor:pointer;
        border: 3px solid green;
        border-radius:5px;
        background-color:rgba(241,241,241,.0);
        padding: 10px;
        resize:none;

        }

.outerDiv textarea{
                height:30%;
                width:90%;
                position:absolute;
                left:5%;
                right:5px;
                top:10%;
                /*bottom:-100%;*/
                font: 16px 微软雅黑;
                color: #ffc0cb;
                border: 3px solid green;
                border-radius:5px;
                background-color:rgba(241,241,241,.0);
                padding: 10px;
                resize:none;
        }

.postsu.postsu{
            height:5%;
            width:10%;
            position:absolute;
            left:5%;
            right:5px;
            top:40%;
            /*bottom:-100%;*/
            font: 14px 微软雅黑;
            text-align:center;
            line-height: 10%;
            color: #ffc0cb;
            cursor:pointer;
            border: 3px solid green;
            border-radius:5px;
            background-color:rgba(241,241,241,.0);
            padding: 10px;
            resize:none;
        }

.copy.copy{
    height:5%;
    width:10%;
    position:absolute;
    left:25%;
    right:5px;
    top:40%;
    /*bottom:-100%;*/
    font: 14px 微软雅黑;
    text-align:center;
    line-height: 10%;
    color: #ffc0cb;
    cursor:pointer;
    border: 3px solid green;
    border-radius:5px;
    background-color:rgba(241,241,241,.0);
    padding: 10px;
    resize:none;

}

.clean{
            height:5%;
            width:10%;
            position:absolute;
            left:15%;
            right:15px;
            top:40%;
            /*bottom:-100%;*/
            font: 14px 微软雅黑;
            text-align:center;
            line-height: 10%;
            color: #ffc0cb;
            cursor:pointer;
            border: 3px solid green;
            border-radius:5px;
            background-color:rgba(241,241,241,.0);
            padding: 10px;
            resize:none;

            }


